body,html{
    width:100%;
    height:100%
}
hr{
    max-width:50px;
    border-width:3px;
    border-color:darkcyan
}
hr.light{
    border-color:#fff
}
a{
    color:darkcyan;
    -webkit-transition:all .2s;
    transition:all .2s
}
a:hover{
    color:darkcyan
}
h1,h2,h3,h4,h5,h6{
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}
.bg-primary{
    background-color:darkcyan!important
}
.bg-dark{
    background-color:#212529!important
}
.text-faded{
    color:rgba(255,255,255,.7);
    font-size: 19px;
    text-align: justify !important;
    color:rgba(255,255,255,.7);
 
}
.text-faded1
{
    font-size: 19px;
    text-align: justify !important;
    color:rgba(255,255,255,.7);

}
section{
    padding:8rem 0
}
.section-heading{
    margin-top:0
}
::-moz-selection{
    color:#fff;
    background:#212529;
    text-shadow:none
}
::selection{
    color:#fff;
    background:#212529;
    text-shadow:none
}
img::-moz-selection{
    color:#fff;
    background:0 0
}
img::selection{
    color:#fff;
    background:0 0
}
img::-moz-selection{
    color:#fff;
    background:0 0
}
/* #mainNav{
    border-bottom:1px solid rgba(33,37,41,.1);
    background-color:#fff;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;-webkit-transition:all .2s;transition:all .2s
}
#mainNav .navbar-brand{
    font-weight:700;
    text-transform:uppercase;
    color:darkcyan;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}
#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
    color:darkcyan
}
#mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
        font-size:12px !important;
        font-family: 'Open Sans', sans-serif;

    font-weight:700;
    text-transform:uppercase;
    color:#212529
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
    color:darkcyan
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active{
    color:darkcyan!important;background-color:transparent
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover{
    background-color:transparent
}
@media (min-width:992px){
    #mainNav{border-color:transparent;
        background-color:transparent
    }

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}
    ul.dropdown-menu>li>a
{
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
}
    #mainNav .navbar-brand{
        color:rgba(255,255,255,.7)
    }
    #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
        color:#fff
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link{
        padding:.5rem 1rem
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
        color:rgba(255,255,255,.7);
        font-size:12px !important;
        font-family: 'Open Sans', sans-serif;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
        color:#fff
    }
    #mainNav.navbar-shrink{
        border-bottom:1px solid rgba(33,37,41,.1);
        background-color:#fff
    }
    #mainNav.navbar-shrink .navbar-brand{
        color:darkcyan
    }
    #mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover{
        color:darkcyan
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus{
        color:#212529
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover{
        color:darkcyan
    }
} */
header.masthead{
    padding-top:10rem;
    padding-bottom:calc(10rem - 56px);
    background-image:url(../img/aboutus.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    /* filter: brightness(45%); */
}
header.masthead hr{
    margin-top:30px;
    margin-bottom:30px
}
header.masthead h1{
    font-size:2rem
}
header.masthead p{
    font-weight:300
}
@media (min-width:768px){
    header.masthead p{
        font-size:1.15rem
    }
}
@media (min-width:992px){
    header.masthead{
        height:100vh;
        min-height:650px;
        padding-top:0;
        padding-bottom:0
    }
    header.masthead h1{
        font-size:3rem
    }
}
@media (min-width:1200px){
    header.masthead h1{
        font-size:4rem
    }
}
.service-box{
    max-width:400px
}
.text-primary{
    color:darkcyan!important
}
.btn{
    font-weight:700;
    text-transform:uppercase;
    border:none;
    border-radius:300px;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}
.btn-xl{
    padding:1rem 2rem
}
.btn-primary{
    background-color:darkcyan;
    border-color:darkcyan
}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
    color:#fff;
    background-color:rgb(1, 117, 117)!important
}
.btn-primary:active,.btn-primary:focus{
    -webkit-box-shadow:0 0 0 .2rem rgba(0, 139, 139, 0.5)!important;
    box-shadow:0 0 0 .2rem rgba(0, 139, 139, 0.5)!important
}
#map {
    width: 100%;
    height: 350px;
    background-color: grey;
  }
  #splashscreen {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height: 100%;
    z-index: 9999;
    background-color:rgb(57, 78, 71);
}
#about{
    background-image:url(../img/bg/3.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}
#client{
    background-image:url(../img/bg/2.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}
#sector{
    background-image:url(../img/bg/1.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}
.carousel-caption>h2{
    background-color:rgba(0, 0, 0, 0.774);
}
.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    width: 100%;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}
#top {
    position: fixed;
    z-index: 1;
    background: #ddd;
    opacity: 0.5;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    display: none;
    

}

#top>img {
    max-height: 50px;
    width: auto;
}

#top:hover {
    opacity: 1.0;
}


.shadow-effect {
                    background: #fff;
                    padding: 20px;
                    border-radius: 4px;
                    text-align: center;
        border:1px solid #ECECEC;
                    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
                }
                #customers-testimonials .shadow-effect p {
                    font-family: inherit;
                    font-size: 17px;
                    line-height: 1.5;
                    margin: 0 0 17px 0;
                    font-weight: 300;
                }
                .testimonial-name {
                    margin: -17px auto 0;
                    display: table;
                    width: auto;
                    background: #3190E7;
                    padding: 9px 35px;
                    border-radius: 12px;
                    text-align: center;
                    color: #fff;
                    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
                }
#customers-testimonials .item {
                    text-align: center;
                    padding: 50px;
                                margin-bottom:80px;
                    opacity: .2;
                    -webkit-transform: scale3d(0.8, 0.8, 1);
                    transform: scale3d(0.8, 0.8, 1);
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                #customers-testimonials .owl-item.active.center .item {
                    opacity: 1;
                    -webkit-transform: scale3d(1.0, 1.0, 1);
                    transform: scale3d(1.0, 1.0, 1);
                }
                .owl-carousel .owl-item img {
                    transform-style: preserve-3d;
                    max-width: 90px;
                margin: 0 auto 17px;
                }
                #customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
                    background: #3190E7;
                    transform: translate3d(0px, -50%, 0px) scale(0.7);
                }
#customers-testimonials.owl-carousel .owl-dots{
        display: inline-block;
        width: 100%;
        text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
        display: inline-block;
}
                #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
                    background: #3190E7;
                    display: inline-block;
                    height: 20px;
                    margin: 0 2px 5px;
                    transform: translate3d(0px, -50%, 0px) scale(0.3);
                    transform-origin: 50% 50% 0;
                    transition: all 250ms ease-out 0s;
                    width: 20px;
                }
/* /* .counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
} */
.counter-count
{
    font-size: 38px !important;
    
    visibility: visible;
     z-index: 99999;
} 

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}
    /* new  */
.pricing-table {
    margin: 0px;
    background: #fff;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.pricing-table i {
    width: 30px;
    color: #c2c2c2;
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 1px solid #ececec;
}

.pricing-table .btn-dark {
    padding: 10px 24px;
    font-size: 15px;
}

.pricing-table strong {
    font-weight: 600;
    margin-right: 6px;
    color: #1f1f1f;
}

.pricing-table-header {
    padding: 30px 0 25px 0;
    background: #ffffff;
	border-radius: 2px;
}

.pricing-table-header h2 {
    font-size: 31px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.pricing-table-header h3 {
    font-size: 15px;
    font-weight: 600;
    color: #aaaaaa;
    margin-top: 10px;
    text-transform: uppercase;
}

.pricing-table-space {
    height: 10px;
}

.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ececec;
    font-weight: 300;
    line-height: 30px;
    color: #c2c2c2;
    font-size: 16px;
}

.pricing-table-text p {
    font-weight: 400;
}

.pricing-table-features {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 30px;
    border-bottom: 1px solid #ececec;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #c2c2c2;
}

.pricing-table-highlighted h3,
.pricing-table-highlighted h2 {
    color: #ffffff !important;
}

.pricing-table-sign-up {
    margin-top: 25px;
    padding-bottom: 30px;
}

.pricing-table-sign-up a{}
.pricing-table-sign-up a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.pricing-table-sign-up a,
.pricing-table-sign-up a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.pricing-table-sign-up a.hover-btn-new::before,
.pricing-table-sign-up a.hover-btn-new::after {
  background: #eea412;
  content: '';
  position: absolute;
  z-index: 1;
}

.pricing-table-sign-up a.hover-btn-new:hover span {
  color: #333333;
}
.pricing-table-sign-up a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricing-table-sign-up a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricing-table-sign-up a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.pricing-table-sign-up a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}



.pricing-table:hover {
	transform: scale(1.05,1.06);
	-webkit-transform: scale(1.05,1.06);
	-moz-transform: scale(1.05,1.06);
	-o-transform: scale(1.05,1.06);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

body.icon_wrap:hover,
body.icon-wrapper:hover i,
.grd1 {
    color: #ffffff !important;
    background: #2d3032;
}

body.stat-wrap,
body.dmtop:hover,
body.cac:hover,
body.features-right li:hover i,
body.features-left li:hover i,
body.divider-bar,
body.owl-next:hover i,
body.owl-prev:hover i,
body.icon-wrapper:hover i:hover,
body.grd1:hover,
body.grd1:focus {
    background-position: 100px;
    color: #ffffff !important;
    background: #eea412;
}
/* .dropdown-menu>li>a{
color:white !important;
}
.dropdown-menu{
    background:#1c8a8b !important;
    }
    .dropdown-menu>li:hover{
        color:black !important;
        background: black;
        }

        .navbar .navbar-nav > li.dropdown:hover > a, 
.navbar .navbar-nav > li.dropdown:hover > a:hover,
.navbar .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(29, 28, 28);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
} */
.bg-dark1
{
background: linear-gradient(-90deg, #69c1c3, #1d977c);

}                                                                                                                        

/* footer */
body,html{
    width:100%;
    height:100%
}
hr{
    max-width:50px;
    border-width:3px;
    border-color:darkcyan
}
hr.light{
    border-color:#fff
}
a{
    color:white;
    -webkit-transition:all .2s;
    transition:all .2s
}
a:hover{
    color:darkcyan
}
h1,h2,h3,h4,h5,h6{
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}
.bg-primary{
    background-color:darkcyan!important
}
.bg-dark{
    background-color:#212529!important
}
.text-faded{
    color:rgba(255,255,255,.7)
}
section{
    padding:8rem 0
}
.section-heading{
    margin-top:0
}
::-moz-selection{
    color:#fff;
    background:#212529;
    text-shadow:none
}
::selection{
    color:#fff;
    background:#212529;
    text-shadow:none
}
img::-moz-selection{
    color:#fff;
    background:0 0
}
img::selection{
    color:#fff;
    background:0 0
}
img::-moz-selection{
    color:#fff;
    background:0 0
}
/* #mainNav{
    border-bottom:1px solid rgba(33,37,41,.1);
    background-color:#fff;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;-webkit-transition:all .2s;transition:all .2s
}
#mainNav .navbar-brand{
    font-weight:700;
    text-transform:uppercase;
    color:darkcyan;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}
#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
    color:darkcyan
}
#mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
    font-size:.9rem;
    font-weight:700;
    text-transform:uppercase;
    color:#212529
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
    color:darkcyan
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active{
    color:darkcyan!important;background-color:transparent
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover{
    background-color:transparent
}
@media (min-width:992px){
    #mainNav{border-color:transparent;
        background-color:white
    }
    #mainNav .navbar-brand{
        color:rgba(255,255,255,.7)
    }
    #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
        color:#fff
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link{
        padding:.5rem 1rem
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
        color:black;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
        color:darkcyan
    }
    #mainNav.navbar-shrink{
        border-bottom:1px solid rgba(33,37,41,.1);
        background-color:#fff
    }
    #mainNav.navbar-shrink .navbar-brand{
        color:darkcyan
    }
    #mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover{
        color:darkcyan
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus{
        color:#212529
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover{
        color:darkcyan
    }
} */
header.masthead{
    padding-top:10rem;
    padding-bottom:calc(10rem - 56px);
    background-image:url(../img/aboutus.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    border-bottom: 3px solid darkcyan;
}
header.masthead hr{
    margin-top:30px;
    margin-bottom:30px
}
header.masthead h1{
    font-size:2rem
}
header.masthead p{
    font-weight:300
}
@media (min-width:768px){
    header.masthead p{
        font-size:1.15rem
    }
}
@media (min-width:992px){
    header.masthead{
        height:25vh;
        min-height:150px;
        padding-top:0;
        padding-bottom:0
    }
    header.masthead h1{
        font-size:3rem
    }
}
@media (min-width:1200px){
    header.masthead h1{
        font-size:4rem
    }
}
.service-box{
    max-width:400px
}
.text-primary{
    color:darkcyan!important
}
.btn{
    font-weight:700;
    text-transform:uppercase;
    border:none;
    border-radius:300px;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}
.btn-xl{
    padding:1rem 2rem
}
.btn-primary{
    background-color:darkcyan;
    border-color:darkcyan
}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
    color:#fff;
    background-color:rgb(1, 117, 117)!important
}
.btn-primary:active,.btn-primary:focus{
    -webkit-box-shadow:0 0 0 .2rem rgba(0, 139, 139, 0.5)!important;
    box-shadow:0 0 0 .2rem rgba(0, 139, 139, 0.5)!important
}
#map {
    width: 100%;
    height: 350px;
    background-color: grey;
  }
  #splashscreen {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height: 100%;
    z-index: 9999;
    background-color:rgb(57, 78, 71);
}
#about{
    background-image:url(../img/bg/3.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}
#client{
    background-image:url(../img/bg/2.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}
#sector{
    background-image:url(../img/bg/1.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}
.carousel-caption>h2{
    background-color:rgba(0, 0, 0, 0.774);
}
.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    width: 100%;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}
#top {
    position: fixed;
    z-index: 1;
    background: #ddd;
    opacity: 0.5;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    display: none;
    

}

#top>img {
    max-height: 50px;
    width: auto;
}

#top:hover {
    opacity: 1.0;
}

/* New Footer*/

.cs-footer-col {
    margin-bottom: 30px;
    margin-top: 30px;
}


.cs-footer-social {
    margin-top: 50px;
}
footer .widget ul {
    list-style: none !important;
    margin-top: 5px;
}
.contact
{
    color:white !important;
    background-color: black !important;
}
.m-b15
{
    margin-left: 35px;
}

/* news and events */

#overviews{
    background: linear-gradient(-90deg, #69c1c3, #1d977c);
}
.image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.container:hover .image {
opacity: 0.3;
}

.container:hover .middle {
opacity: 1;
}

.text {
background-color: #555;
color: white;
font-size: 16px;
padding: 16px 32px;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #575B5CD6;
overflow: hidden;
width: 0;
height: 100%;
transition: .5s ease;
margin-left:12px;
}

.container01:hover .overlay {
width: 100%;
}
        .text01 {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
white-space: nowrap;
}
.overlay01 {
position: absolute;
bottom: 0;
left: 100%;
right: 0;
background-color: #575B5CD6;
overflow: hidden;
width: 0;
height: 100%;
transition: .5s ease;
margin-left: 12px;
}

.container02:hover .overlay01 {
width: 100%;
left: 0;
}
.text02 {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
white-space: nowrap;
}

.orange{
    border-color: #eea412;
}
.text.orange{
background: #333333;
}

.hoverbtnnew::before {
height: 100%;
left: 0;
top: 0;
width: 100%;
}

.hoverbtnnew::after {
background: #eea412 !important;
height: 100%;
left: 0;
top: 0;
width: 100%;
}
.hoverbtnnew span{
    position: relative;
    z-index: 2;
}

.hoverbtnnew:hover:after {
height: 0;
left: 50%;
top: 50%;
width: 0;
}
.hoverbtnnew{
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 46px;
    padding: 0 17px;
    text-transform: uppercase;
    position: relative;
    border: 2px solid #fff;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

.btn-text:link, .btn-text:visited {
background-color: blue;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

.btn-text:hover, .btn-text:active {
background-color: red;
}

ul.dropdown-menu>li>a
{
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    text-decoration: none !important;
}

/* new style */
.counter-box {
    display: block;
    background: #332f2f4f;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #1a1717a6;
    font-size: 20px;
    font-weight: 700
}

.counter-box i {
    font-size: 45px;
    margin: 0 0 15px;
    color:#1a1717a6;
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}
.title-box {
    display: table;
    width: 100%;
    margin-top: 100px;
}
.title-box .page-title-heading, .breadcrumb-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.page-title-heading h1 {
    font-family: 'Slabo 27px', serif;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 47px;
    line-height: 50px;
    margin-bottom: 6px;
    position: relative;
}

.breadcrumb-wrapper {
    text-align: left;
}
.breadcrumb-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb-wrapper .container {
    padding-right: 0;
}
.breadcrumb-wrapper .breadcrumb-wrapper-inner {
    background-color: rgba(255,255,255,.03);
    padding: 15px;
    display: inline-block;
}
.breadcrumb-wrapper a, .breadcrumb-wrapper span {
    font-family: "Ubuntu",Arial,Helvetica,sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 19px;
}
.breadcrumb-wrapper {
    text-align: left;
}
#services
{
    background-color: aliceblue;
}
.text-muted
{
    font-size: 20px;
color: #000000a3 !important;
}
.marg-5 {
    margin-top: 5px;
    background-color: darkcyan;
    border-bottom: 5px solid rebeccapurple;
}
#btnclsfoot,#btnopnfoot
{
color:white;

font-weight: 900;

font-size: 18px;
}