#mainNav{
    border-bottom:1px solid rgba(33,37,41,.1);
    background-color:#fff;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;-webkit-transition:all .2s;transition:all .2s
}
#mainNav .navbar-brand{
    font-weight:700;
    text-transform:uppercase;
    color:darkcyan;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}
#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
    color:darkcyan
}
#mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
        font-size:12px !important;
        font-family: 'Open Sans', sans-serif;

    font-weight:700;
    text-transform:uppercase;
    color:#212529
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
    color:darkcyan
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active{
    color:darkcyan!important;background-color:transparent
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover{
    background-color:transparent
}
@media (min-width:992px){
    #mainNav{border-color:transparent;
        background-color:white
    }

    ul.dropdown-menu>li>a
{
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
}
    #mainNav .navbar-brand{
        color:rgba(255,255,255,.7)
    }
    #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
        color:#fff
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link{
        padding:.5rem 1rem
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
        color:black;
        font-size:12px !important;
        font-family: 'Open Sans', sans-serif;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
        color:darkcyan
    }
    #mainNav.navbar-shrink{
        border-bottom:1px solid rgba(33,37,41,.1);
        background-color:#fff
    }
    #mainNav.navbar-shrink .navbar-brand{
        color:darkcyan
    }
    #mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover{
        color:darkcyan
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus{
        color:#212529
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover{
        color:darkcyan
    }
}
.dropdown-menu>li>a{
    color:white !important;
    }
    .dropdown-menu{
        background:#1c8a8b !important;
        }
        .dropdown-menu>li:hover{
            color:black !important;
            background: black;
            }
    
            .navbar .navbar-nav > li.dropdown:hover > a, 
    .navbar .navbar-nav > li.dropdown:hover > a:hover,
    .navbar .navbar-nav > li.dropdown:hover > a:focus {
        background-color: rgb(29, 28, 28);
        color: rgb(85, 85, 85);
    }
    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
    